#halamanGame {
    text-align: center;
    margin: auto;
    width: 1200px;
    height: 600px;
    padding: 5px;    

    display: none;

}


#halamanGame h1 {
    font-size: 50px;
  font-family: 'splatch';
  margin: 10px;
  text-align: center;
}
#halamanGame h2{
    font-size: 60px;
  text-align: center;
  font-family: 'splatch';
  margin: 10px;
}
#halamanGame button{
    padding: 18px 20px;
    font-size: 16px;
    color: rgb(252, 249, 249);
    background: 	#8B4513;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: opacity .3s linear;

}



.container {
    width: 600px;
    height: 600px;
    margin: auto;
    cursor: url(img/palu1.png), auto;
}
.container:active {
    cursor: url(img/palu2.png), auto;
}

  .tanah {
    top: -50px;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
  }

  .tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(./assets/tanaha.png) bottom center no-repeat;
    background-size: 90%;
    position: absolute;
    bottom: -25px;
  }

  .tikus {
    width: 100%;
    height: 100%;
    background: url(./assets/mencit.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
  }
  
  .tanah.muncul .tikus {
    top: -15px;
  }

.tikus1 {
  cursor : pointer;
}
.tikus3 {
  cursor : pointer;
}



